<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="APPLICATION_KEY" value="5" />
    <add key="APPLICATION_NAME" value="CLASSIFY" />
    <add key="LOG4NET_CONFIG" value="http://leader1/classify/log4netconfig.xml" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="RISKEntities" connectionString="metadata=res://*/ClassifyModel.csdl|res://*/ClassifyModel.ssdl|res://*/ClassifyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tna17224;Initial Catalog=RISK;User ID=classifyweb;Password=sa0123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>