<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APPLICATION_KEY" value="3" />
    <add key="APPLICATION_NAME" value="USER_SYSTEM" />
    <add key="LOG4NET_CONFIG" value="http://leader1/UserSystem/log4netconfig.xml" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="RISKEntities" connectionString="metadata=res://*/MyEntities.UserSystemModel.csdl|res://*/MyEntities.UserSystemModel.ssdl|res://*/MyEntities.UserSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tna17224;Initial Catalog=RISK;Persist Security Info=True;User ID=usersystemweb;Password=sa0123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>