<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="RISKEntities" connectionString="metadata=res://*/DataModel.EntityModel.csdl|res://*/DataModel.EntityModel.ssdl|res://*/DataModel.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TNA17044\SQL_TNA17044;Initial Catalog=RISK;User ID=import;Password=sa0123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>