<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APPLICATION_NAME" value="SME_USERSYSTEM_CORE_UNITTESTS" />
		<!--LDAP_DOMAIN-->
		<add key="LDAP_SERVER" value="bayad.co.th" />
		<add key="LDAP_SERVER_UAT" value="172.19.60.112" />
		<add key="LDAP_PORT" value="389" />
		<add key="LDAP_USERNAME" value="kec_admin" />
		<add key="LDAP_PASSWORD" value="P@ssw0rd" />
	</appSettings>
	<connectionStrings>
		<add name="UserSystemEntities" connectionString="metadata=res://*/UserSystemEntitiesModel.csdl|res://*/UserSystemEntitiesModel.ssdl|res://*/UserSystemEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.19.14.244;Initial Catalog=SME;Persist Security Info=True;User ID=sa;Password=sa0123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>