<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APPLICATION_NAME" value="SME_USERSYSTEM_CORE_UNITTESTS" />
		<add key="LDAP_SERVER" value="bayad.co.th" />
		<add key="LDAP_SERVER_UAT" value="172.19.60.112" />
		<add key="LDAP_PORT" value="389" />
	</appSettings>
</configuration>