<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<appSettings xdt:Transform="Replace">
		<add key="APPLICATION_NAME" value="SME_DEBT_SUMMARY" />
		<add key="LDAP_SERVER" value="bayad.co.th" />
		<add key="LDAP_PORT" value="389" />
	</appSettings>
	<connectionStrings xdt:Transform="Replace">
		<add name="Bay01_Entities"
			 connectionString="metadata=res://*/DebtSummaryEntitiesModel.csdl|res://*/DebtSummaryEntitiesModel.ssdl|res://*/DebtSummaryEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=192.168.33.106,9677;Initial Catalog=Bay01;Persist Security Info=True;User ID=smeweb;Password=Web#11sme;MultipleActiveResultSets=True'"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
</configuration>