<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="APPLICATION_NAME" value="SME_WEB"/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
		<add key="LDAP_PORT" value="389"/>
		<add key="LDAP_USERNAME" value="kec_admin" />
		<add key="LDAP_PASSWORD" value="P@ssw0rd" />
		<add key="IsProduction" value="1"/>
		<add key="LDAP_SERVER" value="bayad.co.th"/>
		<!--Dev-->
		<add key="Log4netConfigPath" value="D:\workspaces\2012\SmeWebV2\Log4net.SMEWeb.config"/>
		<add key="ProfileDataContextPath" value="D:\workspaces\2012\SmeWebV2\log\ProfileDataContext.txt"/>
		<!--Production-->
		<!--<add key="Log4netConfigPath" value="E:\Web\SmeWeb\Log4net.SMEWeb.config"/>
		<add key="ProfileDataContextPath" value="E:\Web\SmeWeb\Log4net.SMEWeb.config"/>-->
	</appSettings>
	<connectionStrings>
		<add name="Bay01_Entities" connectionString="metadata=res://*/DebtSummaryEntitiesModel.csdl|res://*/DebtSummaryEntitiesModel.ssdl|res://*/DebtSummaryEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=leader1;Initial Catalog=Bay01_test;Persist Security Info=True;User ID=sprakit;Password=&quot;0tgvkvtwifus;jk&quot;;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
		<add name="UserSystemEntities" connectionString="metadata=res://*/UserSystemEntitiesModel.csdl|res://*/UserSystemEntitiesModel.ssdl|res://*/UserSystemEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.19.14.244;Initial Catalog=SME;Persist Security Info=True;User ID=sa;Password=sa0123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
     validate="false" />
		</httpHandlers>
		<customErrors defaultRedirect="~/Error/DefaultError.aspx" mode="On">
		</customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Default.aspx" timeout="2880" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<membership defaultProvider="MyMembershipProvider">
			<providers>
				<clear />
				<add name="MyMembershipProvider" type="SME.UserSystem.Core.Providers.AsynchronosMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<!--<profile >
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>-->
		<profile enabled="true" defaultProvider="MyProfileProvider" inherits="SME.UserSystem.Core.Profile.UserProfileBase">
			<providers>
				<clear />
				<add name="MyProfileProvider" type="SME.UserSystem.Core.Providers.AsynchronosProfileProvider"
					 connectionStringName="UserSystemEntities"
					 applicationName="SME_WEB"
					 applicationGUID="6429ead1-38c6-4d7c-9822-89ca140e8649"/>
			</providers>

			<!--<properties>
				-->
			<!--<add name="MyProfile" type="SME.UserSystem.Core.Profile.MyProfile"/>-->
			<!--
				-->
			<!--<group name="Details">
					<add name="ProfileViewModel" type="SME.UserSystem.Core.Model.ProfileViewModel"/>
				</group>-->
			<!--
				-->
			<!--<add name="ProfileViewModel" type="SME.UserSystem.Core.Model.ProfileViewModel"/>-->
			<!--
				<add name="EMP_FULLNAME"
					allowAnonymous="false" />
				<add name="EMP_FULLNAME_E"
					allowAnonymous="false" />
				<add name="EMAIL"
					allowAnonymous="false" />
				<add name="LAST_SIGN_ON_DATE"
					allowAnonymous="false" />
				<add name="USER_DATA_DEL_FLAG"
					allowAnonymous="false" />
				<add name="APP_PROFILE_DEL_FLAG"
					allowAnonymous="false" />
				<add name="CATEGORY_LIST"
					allowAnonymous="false" />
			</properties>-->

		</profile>
		<roleManager>
			<providers>
				<clear />
				<add connectionStringName="ApplicationServices" applicationName="/"
				 name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider"
				 type="System.Web.Security.WindowsTokenRoleProvider" />
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
	</system.webServer>
</configuration>