<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Bay01_Entities" connectionString="metadata=res://*/DebtSummaryEntitiesModel.csdl|res://*/DebtSummaryEntitiesModel.ssdl|res://*/DebtSummaryEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=leader1;Initial Catalog=Bay01_test;Persist Security Info=True;User ID=sprakit;Password=&quot;0tgvkvtwifus;jk&quot;;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>